// Global Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #161616;
    font-family: 'Anton', sans-serif;
}

// Main Styles

.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__content {
        width: 10rem;
        height: 6rem;
        overflow: hidden;
        border: 3px solid blueviolet;
    }

    ul {
        height: 8rem;
        position: relative;
        animation: 
            textAnimationOne 8s -2s  linear infinite;

        li {
            font-size: 5rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: blueviolet;

            &:nth-child(4) {
                color: blueviolent;
            }
        }
    }

    .two {
        color: blueviolet;
        animation: textAnimationOne 8s 4s linear infinite; 
    }
}

@keyframes textAnimationOne {
    0% {
        bottom: 0rem;
    }

    12.5% {
        bottom: 8rem;
    }
    
    25% {
        bottom: 8rem;
    }

    37.5% {
        bottom: 8rem * 2;
    }

    50% {
        bottom: 8rem * 2;
    }

    62.5% {
        bottom: 8rem * 3;
    }

    75% {
        bottom: 8rem * 3;
    }

    87.5% {
        bottom: 8rem * 4;
        visibility: hidden;
    }

    100% {
        bottom: 8rem * 4;
        visibility: hidden
    }

}